* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #231942;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #5e548e;
  border-radius: 10px;
  padding: 20px 60px 40px;
  width: 90%;
  box-shadow: 0 0 15px #fff;
  max-width: 800px;
}

h1 {
  font-size: 2.5rem;
}

h1 span {
  color: #e0b1cb;
  text-shadow: 0 0 1px #181a18;
}

h2 {
  font-weight: 300;
}

button {
  background-color: #e0b1cb;
  font-family: inherit;
  border: none;
  padding: 8px 14px;
  color: #231942;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 2px solid #231942;
  font-weight: bold;
}

.divider {
  height: 2px;
  background-color: #231942;
  margin: 20px 0;
}

.password-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.password {
  height: 40px;
  width: 50%;
  background-color: #231942;
  color: #e0b1cb;
  border: 2px solid #e0b1cb;
}
